---
# OpenBao integration tasks for TACACS+ server

- name: Include configure tasks when OpenBao is enabled
  ansible.builtin.include_tasks: configure.yml
  when: openbao_enabled | bool

- name: Include AppRole setup tasks
  ansible.builtin.include_tasks: approle.yml
  when:
    - openbao_enabled | bool
    - openbao_root_token is defined

- name: Include PKI setup tasks
  ansible.builtin.include_tasks: pki.yml
  when:
    - openbao_enabled | bool
    - openbao_pki_enabled | bool
    - openbao_root_token is defined
