# SPDX-License-Identifier: Apache-2.0
# tacacs_ha - Handlers for HAProxy-based HA
---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: restarted

- name: Reload haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded
