# SPDX-License-Identifier: AGPL-3.0-only
# patroni - Handlers
---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart patroni
  ansible.builtin.systemd:
    name: patroni
    state: restarted

- name: Reload patroni
  ansible.builtin.systemd:
    name: patroni
    state: reloaded
