# SPDX-License-Identifier: AGPL-3.0-only
# etcd - Handlers
---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart etcd
  ansible.builtin.systemd:
    name: etcd
    state: restarted
